<h2>Hosting Service Providers</h2>
<p>Foundry Virtual Tabletop is a self-hosted application - but many users may not wish to deal with the headache of managing the technical configuration of the software. I'm proud to partner with the following hosting service providers who offer a managed solution which hosts your Foundry VTT games in a cloud environment. If you're interested in skipping the setup and getting straight to rolling dice, please consider the following partners.</p>

<h3>The Forge</h3>

<blockquote class="question">Tired of trying to setup your server and fighting with routers and config files? Use The Forge, and fight goblins instead!</blockquote>

<img class="noborder left" title="The Forge" src="/static/assets/icons/the-forge.png" />

<p><a href="https://forge-vtt.com" target="_blank">The Forge</a> is a fully integrated hosting service for your Foundry VTT games created by <a href="https://patreon.com/kakaroto" target="_blank">KaKaRoTo</a>. With game servers in North America, Europe and Asia, and all your game assets geo-distributed in over 40 locations around the world, your games will never have loaded as fast as on The Forge.</p>

<p>Focusing on Security, Performance and Convenience, our mission is to get you up and running within seconds. With no bandwidth cap, high storage quotas, affordable and flexible pricing, the ability to import and export your games, and many additional integration features making the user experience unique and more streamlined, The Forge is the solution for all your game hosting needs.</p>

<p>Get your own customized subdomain today and launch into your worlds seamlessly. Let us take care of all the hassle while you concentrate on having fun instead.</p>

<p>Developed and operated by KaKaRoTo, you can expect the same level of polish, dedication and quality that you've seen from his numerous free <a href="https://foundryvtt.com/community/kakaroto" target="_blank">FVTT modules</a> or the convenience and seamless integration that you experience with his <a href="https://beyond20.here-for-more.info" target="_blank">Beyond20</a> browser extension. To learn more about The Forge and for any questions you may have, please join our <a href="https://forge-vtt.com/discord" target="_blank">Discord server</a>, or contact us through our <a href="https://forums.forge-vtt.com/" target="_blank">forums</a> or <a href="https://forge-vtt.com/contact" target="_blank">email</a>.</p>
<hr style="clear: both;" />

<h3>Foundry Server</h3>
<p><img class="noborder left" title="Foundry Server" src="/static/assets/icons/foundry-server.jpg" /></p>
<p><a title="Foundry Server" href="https://www.foundryserver.com" target="_blank" rel="nofollow noopener">Foundry Server</a> provides a reliable, cost effective, and responsive hosting service for the Foundry VTT gaming environment. Our servers are located on a major US backbone and are configured for reliability and scalability. You have full control over your game server and game data at all times. Hosting is free for all Foundry VTT Patreon members during the Beta testing phase.</p>
<p>Future plans include locating servers in Europe, South East Aisa, and South America and the addition of a true FTP/sFTP server to better manage  your game data.  So come on over and check us out at <a title="Foundry Server" href="https://www.foundryserver.com" target="_blank" rel="nofollow noopener">https://www.foundryserver.com</a>!</p>
<p>Foundry Server is created by Dax - to learn more about its features and for any questions you have please visit the following <a title="Foundry Server Support" href="https://www.foundryserver.com/support.php" target="_blank" rel="nofollow noopener">support and information</a> page.</p>
<p class="note" style="clear: both;"><strong>COVID 19 Update:</strong> In the light of the COVID  19 pandemic we have temporarily transitioned to a “by donation” model instead of a monthly subscription for Foundryvtt hosting.  We will be making significate changes over the summer and so we will keep the site in “Beta” mode.  You still however will be required to have a valid license key from Foundryvtt to operate your game server.</p>
<p><img class="pixel" src="https://www.foundryserver.com/images/fs1x1.png" /></p>
<hr style="clear: both;" />

<h2>Content Creators and Integrations</h2>
<p>Foundry Virtual Tabletop is proud to have established partnerships with several other creators or projects who are producing fantastic software, content, or services.</p>

<h3>Forgotten Adventures</h3>
<p><img class="noborder left" title="Forgotten Adventures" src="/static/assets/icons/forgotten-adventures.png" /></p>
<p><a title="Forgotten Adventures Website" href="https://www.forgotten-adventures.net/" target="_blank" rel="nofollow noopener">Forgotten Adventures</a> is an artistic community of virtual tabletop gaming enthusiasts organized by Stryxin, a devoted artist and dungeon master who creates tokens, props, textures, and battlemaps specifically designed with virtual tabletop gaming in mind. Patreon supporters of Forgotten Adventures gain access to the complete portfolio of assets with new releases arriving several times per month. Stryxin is even tackling an incredibly ambitious goal to draw creature tokens for every D&amp;D5e monster.</p>
<p>I am thrilled to partner with Stryxin and Forgotten Adventures to showcase his fantastic artwork and make it available to Foundry Virtual Tabletop users as part of our D&amp;D5e system implementation which features token artwork by Stryxin for all the creatures which have currently been completed - eventually covering the entire Monsters SRD compendium.</p>
<p>These included tokens are just a subset of the amazing work available in this community so please be sure to support Forgotten Adventures on Patreon for even more content. Visit <a href="https://www.patreon.com/forgottenadventures/" target="_blank" rel="nofollow noopener">https://www.patreon.com/forgottenadventures/</a> for more information!</p>
<hr style="clear: both;" />

<h3>Dungeondraft</h3>
<p><img class="noborder left" title="Dungeondraft" src="/static/assets/icons/dungeondraft.png" width="200" height="200"/></p>
<p><a title="Dungeondraft Website" href="https://dungeondraft.net/" target="_blank" rel="nofollow noopener">Dungeondraft</a> by Megasploot is a dungeon and battlemap creation software from the maker of Wonderdraft which is designed to feature an unintimidating UI, intuitive tools for a fast map creation workflow, and a beautiful library of built-in artwork and textures.</p>
<p>Creating a map in Dungeondraft is easy with the smart tiling and object scattering system which allows you to paint detailed landscapes and terrain with just a few clicks of your mouse. Dungeondraft also features a built-in lighting system as well as dungeon and cave generators. The software does not require an internet connection, is DRM free, and is a one-time purchase to buy.</p>
<p>One of the most exciting aspects of Dungeondraft is that it integrates with Foundry Virtual Tabletop using the <a href="https://foundryvtt.com/packages/dd-import/" title="Dungeondraft Importer Module" target="_blank">Dungeondraft Importer</a> which will automatically import and set up Walls and Ambient Light sources attached to your Dungeondraft map for lightning fast game session prep.</p>
<hr style="clear: both;" />

<h3>Dungeon Fog</h3>
<p><img class="noborder left" title="Dungeon Fog" src="/static/assets/icons/dungeon-fog.png" /></p>
<p><a title="Dungeon Fog Website" href="https://www.dungeonfog.com/" target="_blank" rel="nofollow noopener">Dungeon Fog</a> is an online map maker &amp; authoring tool for RPG game masters. With the extensive DUNGEONFOG Editor you can draw your RPG tabletop maps with just a few clicks &ndash; no more patching up map tiles! Create multi-level dungeons, terrain, or entire worlds in an instant. Generate your GM-Notes automatically and export or print high-res images and notes, or send a Fog of War version for your players to your TV!</p>
<p>Thanks to the hard work of community modders, Foundry Virtual Tabletop features a Dungeon Fog integration module which can automatically configure walls and doors for the fog of war and ambient lighting system automatically by exporting data directly from Dungeon Fog and importing into Foundry VTT. Learn more on the Installing Game Systems and Modules page.</p>
<p>To celebrate our partnership, you can use the discount code FOUNDRY when subscribing to the Dungeon Fog service for a 10% discount on the price of subscription! Visit <a href="https://www.dungeonfog.com/foundry" target="_blank" rel="nofollow noopener">https://www.dungeonfog.com/foundry</a> to take advantage of this offer!</p>
<hr style="clear: both;" />

<h3>DunGen.app</h3>
<p><img class="noborder left" title="DunGen.app" src="/static/assets/icons/dungen-channel.png" /></p>
<p><a title="DunGen Website" href="https://dungen.app/" target="_blank" rel="nofollow noopener">DunGen</a> is a Dungeon Generator that creates high resolution maps ready to import into Foundry VTT. It offers many room variations with several themes to choose from, and uses a custom algorithm to try and generate a logical dungeon. DunGen is still in development and updated often with new rooms, themes and features.</p>
<p>In addition to the generated map images themselves, you can also generate a full scene file including pre-built walls to take full advantage of Foundry&rsquo;s dynamic lighting. You can see this integration in action in this <a href="https://youtu.be/2RlPpLOFkhc" title="DunGen Preview Video" target="_blank">short video</a>.</p>
<hr style="clear: both;" />

<h3>TOS Five - The Only Sheet</h3>
<p><img class="noborder left" title="TOSFive Website" src="https://foundryvtt.s3.us-west-2.amazonaws.com/website-media-dev/user_1/asset/tos5-logo-2020-05-27.png" /></p>
<p>For over a decade, <a title="TOSFive Website" href="http://theonlysheet.com/tosfive/index.shtml" target="_blank" rel="nofollow noopener">The Only Sheet</a> has been providing Character Managers and other tools to gamers. Using the power of Excel to handle all the number crunching, these managers allow users to focus on the gaming experience, and not on adding numbers. They all feature Dynamic Play, which allows various effects to be activated directly on the character. For example, if the PC receives a 'Haste' spell, the character is updated with all the effects of that spell. The Stacking rules are handled automatically, and it is possible to customize almost any class, race, feat, spell, or more.</p>
<p>For years, TOS5 users have been hard at work creating content from other sources, and sharing those creations on the friendly community forums. Hundreds of class and races have thus been shared over the years.</p>
<p>In our first partnership with Foundry VTT, <a target="_blank" href="https://theonlysheet.com/tosfive/">TOS FIVE</a>, the manager for the 5e edition, has been upgraded to allow character to be exported in a format that Foundry VTT can import, thus allowing users to use the best character manager in conjunction with the best virtual table top app! To get involved or learn more about the TOS5 project, join their <a href="https://discord.gg/Kvx4YkD" title="TOS5 Discord Server" target="_blank">Discord Server</a>.</p>
<hr style="clear: both;" />

<h2>Thanks and Attributions</h2>
<p>I owe thanks to the following individuals and organizations for their assistance and contributions during the development of Foundry Virtual Tabletop.</p>
<hr style="clear: both;" />
<h3>Iron Moose Development</h3>
<p><img class="noborder left" title="Iron Moose Development" src="/static/assets/icons/iron-moose.png" /></p>
<blockquote>Software done with a natural touch.</blockquote>
<p><a title="Iron Moose Development" href="https://github.com/IronMooseDevelopment" target="_blank" rel="nofollow noopener">Iron Moose Development</a> is an independent software developer with a broad range of specialization. Iron Moose loves making software that is as easy and reliable as breathing. They bring "The Iron" with decades of industry experience and the knowledge of how to build scalable and reliable systems at any size and flexibility. "The Moose" is a reminder of why they program in the first place - to always help their users solve a problem.</p>
<p>I partnered with Iron Moose Development for assistance in setting up a continuous integration, testing, and deployment solution for Foundry Virtual Tabletop release builds across multiple platforms of Windows, Linux, and MacOS. Iron Moose was a pleasure to work with - offering knowledgable advice and timely assistance in getting working pipelines set up for me using Microsoft Azure. I'd definitely recommend Iron Moose to anyone who wants to outsource portions of their application or infrastructure.</p>
<hr style="clear: both;" />

<h3>Artwork and Icons</h3>
<ul>
<li>Thanks to J. W. Bjerk (eleazzar) for &ldquo;Painterly Spell Icons&rdquo; series: <a href="https://opengameart.org" target="_blank" rel="nofollow noopener">https://opengameart.org</a></li>
<li>Potion Artwork** Thanks to Melle, <a href="https://opengameart.org/content/fantasy-potion-set" target="_blank" rel="nofollow noopener">https://opengameart.org/content/fantasy-potion-set</a></li>
<li>Thanks to various contributors, <a href="https://game-icons.net" target="_blank" rel="nofollow noopener">https://game-icons.net</a></li>
<li>Dice by Mike Valstar from the Noun Project</li>
<li>Dice by Dank By Design from the Noun Project</li>
<li>Dice by Heberti Almeida from the Noun Project</li>
<li>Licensed icon artwork by Rexard <a href="https://assetstore.unity.com/publishers/13229" target="_blank" rel="nofollow noopener">https://assetstore.unity.com/publishers/13229</a></li>
</ul>
<hr style="clear: both;" />

<h3>Audio Assets</h3>
<ul>
<li>Thanks to Mike Koenig, and other Contributors: <a href="https://soundbible.com" target="_blank" rel="nofollow noopener">https://soundbible.com</a></li>
<li>Thanks to Dymewiz and other Contributors: <a href="https://freesound.org" target="_blank" rel="nofollow noopener">https://freesound.org</a></li>
</ul>